include README.md
include README_CN.md
include CHANGELOG.md
include LICENSE
include DISCLAIMER.md
include pyproject.toml
include environment-dev.yml
include others/__init__.py
recursive-include src *.py py.typed
recursive-include others/tests *.py
recursive-include benchmarks *.py *.md *.json
recursive-include others/validation *.py *.md *.json
recursive-include others/examples *.json *.fasta *.yml *.md
recursive-include docs *.md *.json *.csv
recursive-include others/overrides *.html
include mkdocs.yml
recursive-include others/notebooks *.ipynb

prune dashing_similarity
prune ckpt
global-exclude __pycache__ *.py[cod] *.so *.a *.o
